/* style.css */

body {
	background-color: #ffff00; /* Yellow background */
}

.container {
	width: 80%;
	margin: 40px auto;
	padding: 20px;
	background-color: #ffffff; /* White background for the container */
	border: 1px solid #dddddd; /* Light gray border */
	border-radius: 10px; /* Rounded corners */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Light shadow */
}

.card {
	background-color: #ffffff; /* White background for each card */
	padding: 20px;
	margin-bottom: 20px;
	border: 1px solid #dddddd; /* Light gray border */
	border-radius: 10px; /* Rounded corners */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Light shadow */
}

.card-content {
	display: none; /* Hide the card content by default */
}

.card:hover .card-content {
	display: block; /* Show the card content on hover */
}

.opened-card {
	background-color: #ffffff; /* White background */
	padding: 20px;
	margin: 40px auto;
	border: 1px solid #dddddd; /* Light gray border */
	border-radius: 10px; /* Rounded corners */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Light shadow */
}

.opened-card h1 {
	font-size: 24px;
	margin-bottom: 10px;
}

#card-content {
	resize: vertical;
	padding: 10px;
	border: 1px solid #cccccc; /* Light gray border */
	border-radius: 5px; /* Rounded corners */
}